<%- include("_header") -%>
    <div class="container">
        <h1>Manual Speedtest</h1>
        <div class="table-responsive-sm">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Speed</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= timestamp %></td>
                <td><%= speed %> Mbps</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<%- include("_footer") -%>